.btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background: var(--main-color);
  color: white;
  border: 2px solid var(--main-color);
}

.btn-primary:hover {
  background: white;
  color: var(--main-color);
}

.btn-secondary {
  background: var(--secondary-color);
  color: white;
  border: 2px solid var(--secondary-color);
}

.btn-secondary:hover {
  background: white;
  color: var(--secondary-color);
}
