@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --main-color: #277abe;
  --secondary-color: #fcb000;
  --third-color: white;
  --text-color: #444;
  --background-color: #f8f9fa;
  --mainfont: "IBM Plex Sans Thai", sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--mainfont);
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
